<div class="tw-container tw-mx-auto tw-p-4">
  <h1 class="twc-h1">Angular Tailwind</h1>
  <p class="tw-pb-6 tw-pt-2 tw-text-gray-11">
    Angular Tailwind is a starter project that uses Angular and Tailwind CSS.
  </p>
  <main class="tw-flex tw-flex-col tw-gap-6">
    <section class="tw-flex tw-flex-col tw-gap-3">
      <h2 class="twc-h2">Colors</h2>
      <app-section title="Brand">
        <div class="tw-grid tw-gap-2 tw-grid-cols-4">
          <div
            class="tw-bg-brand-1 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-12"
          >
            Brand 1
          </div>
          <div
            class="tw-bg-brand-2 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-12"
          >
            Brand 2
          </div>
          <div
            class="tw-bg-brand-3 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-12"
          >
            Brand 3
          </div>
          <div
            class="tw-bg-brand-4 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-12"
          >
            Brand 4
          </div>
          <div
            class="tw-bg-brand-5 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-12"
          >
            Brand 5
          </div>
          <div
            class="tw-bg-brand-6 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-12"
          >
            Brand 6
          </div>
          <div
            class="tw-bg-brand-7 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-12"
          >
            Brand 7
          </div>
          <div
            class="tw-bg-brand-8 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-12"
          >
            Brand 8
          </div>
          <div
            class="tw-bg-brand-9 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-1"
          >
            Brand 9
          </div>
          <div
            class="tw-bg-brand-10 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-1"
          >
            Brand 10
          </div>
          <div
            class="tw-bg-brand-11 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-1"
          >
            Brand 11
          </div>
          <div
            class="tw-bg-brand-12 tw-rounded-md tw-border tw-border-brand-3 tw-p-2 tw-text-brand-1"
          >
            Brand 12
          </div>
        </div>
      </app-section>
      <app-section title="Gray">
        <div class="tw-grid tw-gap-2 tw-grid-cols-4">
          <div
            class="tw-bg-gray-1 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-12"
          >
            Gray 1
          </div>
          <div
            class="tw-bg-gray-2 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-12"
          >
            Gray 2
          </div>
          <div
            class="tw-bg-gray-3 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-12"
          >
            Gray 3
          </div>
          <div
            class="tw-bg-gray-4 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-12"
          >
            Gray 4
          </div>
          <div
            class="tw-bg-gray-5 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-12"
          >
            Gray 5
          </div>
          <div
            class="tw-bg-gray-6 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-12"
          >
            Gray 6
          </div>
          <div
            class="tw-bg-gray-7 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-12"
          >
            Gray 7
          </div>
          <div
            class="tw-bg-gray-8 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-12"
          >
            Gray 8
          </div>
          <div
            class="tw-bg-gray-9 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-1"
          >
            Gray 9
          </div>
          <div
            class="tw-bg-gray-10 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-1"
          >
            Gray 10
          </div>
          <div
            class="tw-bg-gray-11 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-1"
          >
            Gray 11
          </div>
          <div
            class="tw-bg-gray-12 tw-rounded-md tw-border tw-border-gray-3 tw-p-2 tw-text-gray-1"
          >
            Gray 12
          </div>
        </div>
      </app-section>
      <app-section title="Success">
        <div class="tw-grid tw-gap-2 tw-grid-cols-4">
          <div
            class="tw-bg-success-1 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-12"
          >
            Success 1
          </div>
          <div
            class="tw-bg-success-2 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-12"
          >
            Success 2
          </div>
          <div
            class="tw-bg-success-3 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-12"
          >
            Success 3
          </div>
          <div
            class="tw-bg-success-4 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-12"
          >
            Success 4
          </div>
          <div
            class="tw-bg-success-5 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-12"
          >
            Success 5
          </div>
          <div
            class="tw-bg-success-6 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-12"
          >
            Success 6
          </div>
          <div
            class="tw-bg-success-7 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-12"
          >
            Success 7
          </div>
          <div
            class="tw-bg-success-8 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-12"
          >
            Success 8
          </div>
          <div
            class="tw-bg-success-9 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-1"
          >
            Success 9
          </div>
          <div
            class="tw-bg-success-10 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-1"
          >
            Success 10
          </div>
          <div
            class="tw-bg-success-11 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-1"
          >
            Success 11
          </div>
          <div
            class="tw-bg-success-12 tw-rounded-md tw-border tw-border-success-3 tw-p-2 tw-text-success-1"
          >
            Success 12
          </div>
        </div>
      </app-section>
      <app-section title="Danger">
        <div class="tw-grid tw-gap-2 tw-grid-cols-4">
          <div
            class="tw-bg-danger-1 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-12"
          >
            Danger 1
          </div>
          <div
            class="tw-bg-danger-2 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-12"
          >
            Danger 2
          </div>
          <div
            class="tw-bg-danger-3 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-12"
          >
            Danger 3
          </div>
          <div
            class="tw-bg-danger-4 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-12"
          >
            Danger 4
          </div>
          <div
            class="tw-bg-danger-5 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-12"
          >
            Danger 5
          </div>
          <div
            class="tw-bg-danger-6 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-12"
          >
            Danger 6
          </div>
          <div
            class="tw-bg-danger-7 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-12"
          >
            Danger 7
          </div>
          <div
            class="tw-bg-danger-8 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-12"
          >
            Danger 8
          </div>
          <div
            class="tw-bg-danger-9 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-1"
          >
            Danger 9
          </div>
          <div
            class="tw-bg-danger-10 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-1"
          >
            Danger 10
          </div>
          <div
            class="tw-bg-danger-11 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-1"
          >
            Danger 11
          </div>
          <div
            class="tw-bg-danger-12 tw-rounded-md tw-border tw-border-danger-3 tw-p-2 tw-text-danger-1"
          >
            Danger 12
          </div>
        </div>
      </app-section>
      <app-section title="Warning">
        <div class="tw-grid tw-gap-2 tw-grid-cols-4">
          <div
            class="tw-bg-warning-1 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-12"
          >
            Warning 1
          </div>
          <div
            class="tw-bg-warning-2 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-12"
          >
            Warning 2
          </div>
          <div
            class="tw-bg-warning-3 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-12"
          >
            Warning 3
          </div>
          <div
            class="tw-bg-warning-4 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-12"
          >
            Warning 4
          </div>
          <div
            class="tw-bg-warning-5 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-12"
          >
            Warning 5
          </div>
          <div
            class="tw-bg-warning-6 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-12"
          >
            Warning 6
          </div>
          <div
            class="tw-bg-warning-7 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-12"
          >
            Warning 7
          </div>
          <div
            class="tw-bg-warning-8 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-12"
          >
            Warning 8
          </div>
          <div
            class="tw-bg-warning-9 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-1"
          >
            Warning 9
          </div>
          <div
            class="tw-bg-warning-10 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-1"
          >
            Warning 10
          </div>
          <div
            class="tw-bg-warning-11 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-1"
          >
            Warning 11
          </div>
          <div
            class="tw-bg-warning-12 tw-rounded-md tw-border tw-border-warning-3 tw-p-2 tw-text-warning-1"
          >
            Warning 12
          </div>
        </div>
      </app-section>
      <app-section title="Info">
        <div class="tw-grid tw-gap-2 tw-grid-cols-4">
          <div
            class="tw-bg-info-1 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-12"
          >
            Info 1
          </div>
          <div
            class="tw-bg-info-2 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-12"
          >
            Info 2
          </div>
          <div
            class="tw-bg-info-3 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-12"
          >
            Info 3
          </div>
          <div
            class="tw-bg-info-4 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-12"
          >
            Info 4
          </div>
          <div
            class="tw-bg-info-5 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-12"
          >
            Info 5
          </div>
          <div
            class="tw-bg-info-6 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-12"
          >
            Info 6
          </div>
          <div
            class="tw-bg-info-7 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-12"
          >
            Info 7
          </div>
          <div
            class="tw-bg-info-8 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-12"
          >
            Info 8
          </div>
          <div
            class="tw-bg-info-9 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-1"
          >
            Info 9
          </div>
          <div
            class="tw-bg-info-10 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-1"
          >
            Info 10
          </div>
          <div
            class="tw-bg-info-11 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-1"
          >
            Info 11
          </div>
          <div
            class="tw-bg-info-12 tw-rounded-md tw-border tw-border-info-3 tw-p-2 tw-text-info-1"
          >
            Info 12
          </div>
        </div>
      </app-section>
    </section>

    <section class="tw-flex tw-flex-col tw-gap-3">
      <h2 class="twc-h2">Buttons</h2>
      <app-section title="Default">
        <div class="tw-flex tw-gap-3 tw-items-center">
          <button class="twc-btn twc-btn-primary">Primary</button>
          <button class="twc-btn twc-btn-secondary">Secondary</button>
          <button class="twc-btn twc-btn-success">Success</button>
          <button class="twc-btn twc-btn-danger">Danger</button>
          <button class="twc-btn twc-btn-warning">Warning</button>
          <button class="twc-btn twc-btn-info">Info</button>
        </div>
      </app-section>
      <app-section title="Pill">
        <div class="tw-flex tw-gap-3 tw-items-center">
          <button class="twc-btn twc-btn-primary" data-pill="true">
            Primary
          </button>
          <button class="twc-btn twc-btn-secondary" data-pill="true">
            Secondary
          </button>
          <button class="twc-btn twc-btn-success" data-pill="true">
            Success
          </button>
          <button class="twc-btn twc-btn-danger" data-pill="true">
            Danger
          </button>
          <button class="twc-btn twc-btn-warning" data-pill="true">
            Warning
          </button>
          <button class="twc-btn twc-btn-info" data-pill="true">Info</button>
        </div>
      </app-section>
    </section>
    <section class="tw-flex tw-flex-col tw-gap-3">
      <h2 class="twc-h2">Badges</h2>
      <app-section title="Default">
        <div class="tw-flex tw-gap-3 tw-items-center">
          <span class="twc-badge twc-badge-primary">Primary</span>
          <span class="twc-badge twc-badge-secondary">Secondary</span>
          <span class="twc-badge twc-badge-success">Success</span>
          <span class="twc-badge twc-badge-danger">Danger</span>
          <span class="twc-badge twc-badge-warning">Warning</span>
          <span class="twc-badge twc-badge-info">Info</span>
        </div>
      </app-section>
    </section>
  </main>
</div>
