<div class="container mx-auto p-4">
  <h1 class="twc-h1">Angular Tailwind</h1>
  <p class="pb-6 pt-2 text-gray-11">
    Angular Tailwind is a starter project that uses Angular and Tailwind CSS.
  </p>
  <main class="flex flex-col gap-6">
    <section class="flex flex-col gap-3">
      <h2 class="twc-h2">Colors</h2>
      <app-section title="Brand">
        <div class="grid gap-2 grid-cols-4">
          <div
            class="bg-brand-1 rounded-md border border-brand-3 p-2 text-brand-12"
          >
            Brand 1
          </div>
          <div
            class="bg-brand-2 rounded-md border border-brand-3 p-2 text-brand-12"
          >
            Brand 2
          </div>
          <div
            class="bg-brand-3 rounded-md border border-brand-3 p-2 text-brand-12"
          >
            Brand 3
          </div>
          <div
            class="bg-brand-4 rounded-md border border-brand-3 p-2 text-brand-12"
          >
            Brand 4
          </div>
          <div
            class="bg-brand-5 rounded-md border border-brand-3 p-2 text-brand-12"
          >
            Brand 5
          </div>
          <div
            class="bg-brand-6 rounded-md border border-brand-3 p-2 text-brand-12"
          >
            Brand 6
          </div>
          <div
            class="bg-brand-7 rounded-md border border-brand-3 p-2 text-brand-12"
          >
            Brand 7
          </div>
          <div
            class="bg-brand-8 rounded-md border border-brand-3 p-2 text-brand-12"
          >
            Brand 8
          </div>
          <div
            class="bg-brand-9 rounded-md border border-brand-3 p-2 text-brand-1"
          >
            Brand 9
          </div>
          <div
            class="bg-brand-10 rounded-md border border-brand-3 p-2 text-brand-1"
          >
            Brand 10
          </div>
          <div
            class="bg-brand-11 rounded-md border border-brand-3 p-2 text-brand-1"
          >
            Brand 11
          </div>
          <div
            class="bg-brand-12 rounded-md border border-brand-3 p-2 text-brand-1"
          >
            Brand 12
          </div>
        </div>
      </app-section>
      <app-section title="Gray">
        <div class="grid gap-2 grid-cols-4">
          <div
            class="bg-gray-1 rounded-md border border-gray-3 p-2 text-gray-12"
          >
            Gray 1
          </div>
          <div
            class="bg-gray-2 rounded-md border border-gray-3 p-2 text-gray-12"
          >
            Gray 2
          </div>
          <div
            class="bg-gray-3 rounded-md border border-gray-3 p-2 text-gray-12"
          >
            Gray 3
          </div>
          <div
            class="bg-gray-4 rounded-md border border-gray-3 p-2 text-gray-12"
          >
            Gray 4
          </div>
          <div
            class="bg-gray-5 rounded-md border border-gray-3 p-2 text-gray-12"
          >
            Gray 5
          </div>
          <div
            class="bg-gray-6 rounded-md border border-gray-3 p-2 text-gray-12"
          >
            Gray 6
          </div>
          <div
            class="bg-gray-7 rounded-md border border-gray-3 p-2 text-gray-12"
          >
            Gray 7
          </div>
          <div
            class="bg-gray-8 rounded-md border border-gray-3 p-2 text-gray-12"
          >
            Gray 8
          </div>
          <div
            class="bg-gray-9 rounded-md border border-gray-3 p-2 text-gray-1"
          >
            Gray 9
          </div>
          <div
            class="bg-gray-10 rounded-md border border-gray-3 p-2 text-gray-1"
          >
            Gray 10
          </div>
          <div
            class="bg-gray-11 rounded-md border border-gray-3 p-2 text-gray-1"
          >
            Gray 11
          </div>
          <div
            class="bg-gray-12 rounded-md border border-gray-3 p-2 text-gray-1"
          >
            Gray 12
          </div>
        </div>
      </app-section>
      <app-section title="Success">
        <div class="grid gap-2 grid-cols-4">
          <div
            class="bg-success-1 rounded-md border border-success-3 p-2 text-success-12"
          >
            Success 1
          </div>
          <div
            class="bg-success-2 rounded-md border border-success-3 p-2 text-success-12"
          >
            Success 2
          </div>
          <div
            class="bg-success-3 rounded-md border border-success-3 p-2 text-success-12"
          >
            Success 3
          </div>
          <div
            class="bg-success-4 rounded-md border border-success-3 p-2 text-success-12"
          >
            Success 4
          </div>
          <div
            class="bg-success-5 rounded-md border border-success-3 p-2 text-success-12"
          >
            Success 5
          </div>
          <div
            class="bg-success-6 rounded-md border border-success-3 p-2 text-success-12"
          >
            Success 6
          </div>
          <div
            class="bg-success-7 rounded-md border border-success-3 p-2 text-success-12"
          >
            Success 7
          </div>
          <div
            class="bg-success-8 rounded-md border border-success-3 p-2 text-success-12"
          >
            Success 8
          </div>
          <div
            class="bg-success-9 rounded-md border border-success-3 p-2 text-success-1"
          >
            Success 9
          </div>
          <div
            class="bg-success-10 rounded-md border border-success-3 p-2 text-success-1"
          >
            Success 10
          </div>
          <div
            class="bg-success-11 rounded-md border border-success-3 p-2 text-success-1"
          >
            Success 11
          </div>
          <div
            class="bg-success-12 rounded-md border border-success-3 p-2 text-success-1"
          >
            Success 12
          </div>
        </div>
      </app-section>
      <app-section title="Danger">
        <div class="grid gap-2 grid-cols-4">
          <div
            class="bg-danger-1 rounded-md border border-danger-3 p-2 text-danger-12"
          >
            Danger 1
          </div>
          <div
            class="bg-danger-2 rounded-md border border-danger-3 p-2 text-danger-12"
          >
            Danger 2
          </div>
          <div
            class="bg-danger-3 rounded-md border border-danger-3 p-2 text-danger-12"
          >
            Danger 3
          </div>
          <div
            class="bg-danger-4 rounded-md border border-danger-3 p-2 text-danger-12"
          >
            Danger 4
          </div>
          <div
            class="bg-danger-5 rounded-md border border-danger-3 p-2 text-danger-12"
          >
            Danger 5
          </div>
          <div
            class="bg-danger-6 rounded-md border border-danger-3 p-2 text-danger-12"
          >
            Danger 6
          </div>
          <div
            class="bg-danger-7 rounded-md border border-danger-3 p-2 text-danger-12"
          >
            Danger 7
          </div>
          <div
            class="bg-danger-8 rounded-md border border-danger-3 p-2 text-danger-12"
          >
            Danger 8
          </div>
          <div
            class="bg-danger-9 rounded-md border border-danger-3 p-2 text-danger-1"
          >
            Danger 9
          </div>
          <div
            class="bg-danger-10 rounded-md border border-danger-3 p-2 text-danger-1"
          >
            Danger 10
          </div>
          <div
            class="bg-danger-11 rounded-md border border-danger-3 p-2 text-danger-1"
          >
            Danger 11
          </div>
          <div
            class="bg-danger-12 rounded-md border border-danger-3 p-2 text-danger-1"
          >
            Danger 12
          </div>
        </div>
      </app-section>
      <app-section title="Warning">
        <div class="grid gap-2 grid-cols-4">
          <div
            class="bg-warning-1 rounded-md border border-warning-3 p-2 text-warning-12"
          >
            Warning 1
          </div>
          <div
            class="bg-warning-2 rounded-md border border-warning-3 p-2 text-warning-12"
          >
            Warning 2
          </div>
          <div
            class="bg-warning-3 rounded-md border border-warning-3 p-2 text-warning-12"
          >
            Warning 3
          </div>
          <div
            class="bg-warning-4 rounded-md border border-warning-3 p-2 text-warning-12"
          >
            Warning 4
          </div>
          <div
            class="bg-warning-5 rounded-md border border-warning-3 p-2 text-warning-12"
          >
            Warning 5
          </div>
          <div
            class="bg-warning-6 rounded-md border border-warning-3 p-2 text-warning-12"
          >
            Warning 6
          </div>
          <div
            class="bg-warning-7 rounded-md border border-warning-3 p-2 text-warning-12"
          >
            Warning 7
          </div>
          <div
            class="bg-warning-8 rounded-md border border-warning-3 p-2 text-warning-12"
          >
            Warning 8
          </div>
          <div
            class="bg-warning-9 rounded-md border border-warning-3 p-2 text-warning-1"
          >
            Warning 9
          </div>
          <div
            class="bg-warning-10 rounded-md border border-warning-3 p-2 text-warning-1"
          >
            Warning 10
          </div>
          <div
            class="bg-warning-11 rounded-md border border-warning-3 p-2 text-warning-1"
          >
            Warning 11
          </div>
          <div
            class="bg-warning-12 rounded-md border border-warning-3 p-2 text-warning-1"
          >
            Warning 12
          </div>
        </div>
      </app-section>
      <app-section title="Info">
        <div class="grid gap-2 grid-cols-4">
          <div
            class="bg-info-1 rounded-md border border-info-3 p-2 text-info-12"
          >
            Info 1
          </div>
          <div
            class="bg-info-2 rounded-md border border-info-3 p-2 text-info-12"
          >
            Info 2
          </div>
          <div
            class="bg-info-3 rounded-md border border-info-3 p-2 text-info-12"
          >
            Info 3
          </div>
          <div
            class="bg-info-4 rounded-md border border-info-3 p-2 text-info-12"
          >
            Info 4
          </div>
          <div
            class="bg-info-5 rounded-md border border-info-3 p-2 text-info-12"
          >
            Info 5
          </div>
          <div
            class="bg-info-6 rounded-md border border-info-3 p-2 text-info-12"
          >
            Info 6
          </div>
          <div
            class="bg-info-7 rounded-md border border-info-3 p-2 text-info-12"
          >
            Info 7
          </div>
          <div
            class="bg-info-8 rounded-md border border-info-3 p-2 text-info-12"
          >
            Info 8
          </div>
          <div
            class="bg-info-9 rounded-md border border-info-3 p-2 text-info-1"
          >
            Info 9
          </div>
          <div
            class="bg-info-10 rounded-md border border-info-3 p-2 text-info-1"
          >
            Info 10
          </div>
          <div
            class="bg-info-11 rounded-md border border-info-3 p-2 text-info-1"
          >
            Info 11
          </div>
          <div
            class="bg-info-12 rounded-md border border-info-3 p-2 text-info-1"
          >
            Info 12
          </div>
        </div>
      </app-section>
    </section>

    <section class="flex flex-col gap-3">
      <h2 class="twc-h2">Buttons</h2>
      <app-section title="Default">
        <div class="flex gap-3 items-center">
          <button class="twc-btn twc-btn-primary">Primary</button>
          <button class="twc-btn twc-btn-secondary">Secondary</button>
          <button class="twc-btn twc-btn-success">Success</button>
          <button class="twc-btn twc-btn-danger">Danger</button>
          <button class="twc-btn twc-btn-warning">Warning</button>
          <button class="twc-btn twc-btn-info">Info</button>
        </div>
      </app-section>
      <app-section title="Pill">
        <div class="flex gap-3 items-center">
          <button class="twc-btn twc-btn-primary" data-pill="true">
            Primary
          </button>
          <button class="twc-btn twc-btn-secondary" data-pill="true">
            Secondary
          </button>
          <button class="twc-btn twc-btn-success" data-pill="true">
            Success
          </button>
          <button class="twc-btn twc-btn-danger" data-pill="true">
            Danger
          </button>
          <button class="twc-btn twc-btn-warning" data-pill="true">
            Warning
          </button>
          <button class="twc-btn twc-btn-info" data-pill="true">Info</button>
        </div>
      </app-section>
    </section>
    <section class="flex flex-col gap-3">
      <h2 class="twc-h2">Badges</h2>
      <app-section title="Default">
        <div class="flex gap-3 items-center">
          <span class="twc-badge twc-badge-primary">Primary</span>
          <span class="twc-badge twc-badge-secondary">Secondary</span>
          <span class="twc-badge twc-badge-success">Success</span>
          <span class="twc-badge twc-badge-danger">Danger</span>
          <span class="twc-badge twc-badge-warning">Warning</span>
          <span class="twc-badge twc-badge-info">Info</span>
        </div>
      </app-section>
    </section>
  </main>
</div>
