<section
  [class.dark]="isDarkMode"
  class="flex gap-3 flex-col p-4 rounded-lg border border-gray-3 bg-gray-2 overflow-clip"
>
  <header class="flex gap-3 items-center justify-between">
    <h3 class="twc-h3">{{ title }}</h3>
    <button
      class="p-2 bg-gray-4 hover:bg-gray-5 rounded-md"
      (click)="toggleDarkMode()"
    >
      <i-lucide
        [img]="isDarkMode ? MoonIcon : SunIcon"
        class="text-gray-11"
      ></i-lucide>
    </button>
  </header>
  <ng-content></ng-content>
</section>
