<section
  [class.dark]="isDarkMode"
  class="tw:flex tw:gap-3 tw:flex-col tw:p-4 tw:rounded-lg tw:border tw:border-gray-3 tw:bg-gray-2 tw:overflow-clip"
>
  <header class="tw:flex tw:gap-3 tw:items-center tw:justify-between">
    <h3 class="twc-h3">{{ title }}</h3>
    <button
      class="tw:p-2 tw:bg-gray-4 tw:hover:bg-gray-5 tw:rounded-md"
      (click)="toggleDarkMode()"
    >
      <i-lucide
        [img]="isDarkMode ? MoonIcon : SunIcon"
        class="tw:text-gray-11"
      ></i-lucide>
    </button>
  </header>
  <ng-content></ng-content>
</section>
