:root,
.light,
.light-theme {
  --cyan-1: #f9fdff;
  --cyan-2: #f1fbfe;
  --cyan-3: #daf7ff;
  --cyan-4: #c3f2ff;
  --cyan-5: #abeafc;
  --cyan-6: #91def5;
  --cyan-7: #6acfeb;
  --cyan-8: #00bae0;
  --cyan-9: #11caf0;
  --cyan-10: #00bfe5;
  --cyan-11: #007e9c;
  --cyan-12: #003e4d;

  --cyan-a1: #00aaff06;
  --cyan-a2: #00b7ed0e;
  --cyan-a3: #00c8ff25;
  --cyan-a4: #00c8ff3c;
  --cyan-a5: #00c0f654;
  --cyan-a6: #00b3e86e;
  --cyan-a7: #00addd95;
  --cyan-a8: #00bae0;
  --cyan-a9: #00c6efee;
  --cyan-a10: #00bfe5;
  --cyan-a11: #007e9c;
  --cyan-a12: #003e4d;

  --cyan-contrast: #05262e;
  --cyan-surface: #eefafecc;
  --cyan-indicator: #11caf0;
  --cyan-track: #11caf0;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --cyan-1: oklch(99.2% 0.0047 218.1);
      --cyan-2: oklch(98% 0.0113 218.1);
      --cyan-3: oklch(95.8% 0.0332 218.1);
      --cyan-4: oklch(93.2% 0.0516 218.1);
      --cyan-5: oklch(90% 0.0673 218.1);
      --cyan-6: oklch(85.9% 0.0826 218.1);
      --cyan-7: oklch(80.5% 0.1022 218.1);
      --cyan-8: oklch(72.7% 0.1376 218.1);
      --cyan-9: oklch(77.5% 0.1376 218.1);
      --cyan-10: oklch(74.1% 0.1376 218.1);
      --cyan-11: oklch(54% 0.1376 218.1);
      --cyan-12: oklch(33.2% 0.0664 218.1);

      --cyan-a1: color(display-p3 0.0196 0.6078 1 / 0.02);
      --cyan-a2: color(display-p3 0.0235 0.6745 0.9216 / 0.048);
      --cyan-a3: color(display-p3 0.0039 0.7137 0.9686 / 0.122);
      --cyan-a4: color(display-p3 0 0.7255 0.9608 / 0.2);
      --cyan-a5: color(display-p3 0.0039 0.6784 0.9333 / 0.279);
      --cyan-a6: color(display-p3 0.0039 0.6275 0.8627 / 0.365);
      --cyan-a7: color(display-p3 0.0039 0.5961 0.8157 / 0.483);
      --cyan-a8: color(display-p3 0 0.5804 0.7961 / 0.675);
      --cyan-a9: color(display-p3 0 0.6549 0.8824 / 0.636);
      --cyan-a10: color(display-p3 0 0.6039 0.8235 / 0.663);
      --cyan-a11: color(display-p3 0 0.349 0.4941 / 0.789);
      --cyan-a12: color(display-p3 0 0.1647 0.2235 / 0.91);

      --cyan-contrast: #05262e;
      --cyan-surface: color(display-p3 0.9373 0.9765 0.9922 / 0.8);
      --cyan-indicator: oklch(77.5% 0.1376 218.1);
      --cyan-track: oklch(77.5% 0.1376 218.1);
    }
  }
}
