.dark,
.dark-theme {
  --cyan-1: #061317;
  --cyan-2: #0d1b1f;
  --cyan-3: #002c38;
  --cyan-4: #00394a;
  --cyan-5: #00475a;
  --cyan-6: #00566b;
  --cyan-7: #006982;
  --cyan-8: #0083a1;
  --cyan-9: #11caf0;
  --cyan-10: #00bfe5;
  --cyan-11: #1ccdf4;
  --cyan-12: #aeedff;

  --cyan-a1: #005aec07;
  --cyan-a2: #00bbff0f;
  --cyan-a3: #00b5fe2a;
  --cyan-a4: #00b6fc3e;
  --cyan-a5: #00c0fd4f;
  --cyan-a6: #00c6fd61;
  --cyan-a7: #00c9fd7a;
  --cyan-a8: #00ccfe9b;
  --cyan-a9: #11d6ffef;
  --cyan-a10: #00d3fee4;
  --cyan-a11: #1cd5fef4;
  --cyan-a12: #aeedff;

  --cyan-contrast: #05262e;
  --cyan-surface: #0a252d80;
  --cyan-indicator: #11caf0;
  --cyan-track: #11caf0;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --cyan-1: oklch(17.8% 0.0204 218.1);
      --cyan-2: oklch(21.2% 0.0217 218.1);
      --cyan-3: oklch(27.1% 0.0525 218.1);
      --cyan-4: oklch(31.4% 0.075 218.1);
      --cyan-5: oklch(36.1% 0.0838 218.1);
      --cyan-6: oklch(41.3% 0.0891 218.1);
      --cyan-7: oklch(47.8% 0.0986 218.1);
      --cyan-8: oklch(55.8% 0.1173 218.1);
      --cyan-9: oklch(77.5% 0.1376 218.1);
      --cyan-10: oklch(74.1% 0.1376 218.1);
      --cyan-11: oklch(78.6% 0.1376 218.1);
      --cyan-12: oklch(90.9% 0.0677 218.1);

      --cyan-a1: color(display-p3 0 0.3686 0.9725 / 0.026);
      --cyan-a2: color(display-p3 0 0.7804 0.9961 / 0.055);
      --cyan-a3: color(display-p3 0 0.7059 1 / 0.16);
      --cyan-a4: color(display-p3 0.1373 0.7294 1 / 0.232);
      --cyan-a5: color(display-p3 0.2 0.7647 1 / 0.299);
      --cyan-a6: color(display-p3 0.2588 0.7882 1 / 0.37);
      --cyan-a7: color(display-p3 0.298 0.7961 1 / 0.463);
      --cyan-a8: color(display-p3 0.3333 0.8078 1 / 0.593);
      --cyan-a9: color(display-p3 0.3922 0.8431 1 / 0.921);
      --cyan-a10: color(display-p3 0.3765 0.8353 1 / 0.874);
      --cyan-a11: color(display-p3 0.3961 0.8431 1 / 0.937);
      --cyan-a12: color(display-p3 0.7412 0.9294 1 / 0.992);

      --cyan-contrast: #05262e;
      --cyan-surface: color(display-p3 0.0588 0.1412 0.1725 / 0.5);
      --cyan-indicator: oklch(77.5% 0.1376 218.1);
      --cyan-track: oklch(77.5% 0.1376 218.1);
    }
  }
}
